<h4
    class="ui horizontal section divider header"
    {{ sylius_test_html_attribute('related-products-header') }}
>
    {{ 'bitbag_sylius_upselling_plugin.ui.related_products'|trans }}
</h4>
{{ bitbag_upselling_render_related_products(product.slug, 4) }}
