{% set product = hookable_metadata.context.product %}

<div class="container mb-6">
    <h2
        class="mb-5"
        {{ sylius_test_html_attribute('related-products-header') }}
    >
        {{ 'bitbag_sylius_crossselling_plugin.ui.related_products'|trans }}
    </h2>
    <div>
        {{ bitbag_crossselling_render_related_products(product.slug, 4) }}
    </div>
</div>
