{% set product = hookable_metadata.context.product %}
<h2
    class="ui horizontal section divider header"
    {{ sylius_test_html_attribute('related-products-header') }}
>
    {{ 'bitbag_sylius_crossselling_plugin.ui.related_products'|trans }}
</h2>
{{ bitbag_crossselling_render_related_products(product.slug, 4) }}
